.App {
  margin: 0 auto;
  font-family: sans-serif;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

p {
  line-height: 1.6;
}

footer {
  border-top: solid 1px #ccc;
  margin-top: 3.4em;
  padding: 1em 0px;
  font-size: smaller;
  color: #666;
}

.code {
  background: #ddd;
  font-family: monospace;
}

h1 {
  margin-bottom: 32px;
  line-height: 1;
}

h2 {
  line-height: 1;
  margin-top: 28px;
}

p {
  line-height: 1.75;
  margin-bottom: 16px;
}

a {
  color: #348358;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid #348358;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  min-height: 48px;
  display: flex;
  justify-content: flex-end;
}

.header-logo {
  height: 12px;
}

.example-button {
  height: 36px;
  border: 1px solid #42A96E;
  background-color: #42A96E;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  h1 {
    margin-bottom: 24px;
  }
  .header-logo {
    height: 16px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-bottom: 40px;
  }

  p {
    line-height: 1.4;
  }

  .App {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.lff {
  border: solid 1px #eee;
  box-shadow: 0px 0px 2px #ccc;
  padding: 0px 1em 1.5em 1em;
}
