.editor {
  font-family: monospace;
}

.editor__textarea {
  font-family: monospace;
  border: 2px inset #ccc;
  padding: 3px 3px 0px 3px;
  background: #eee;
  vertical-align: bottom;
  line-height: 1.4;
}

.editor__textarea:focus {
  outline-color: #348358;
}

.editor__error {
  color: #f00;
}
